# DEVOPS 

/.github/action/nix-common-setup*  @input-output-hk/jormugandr-devops
/.github/workflows/nix.yml         @input-output-hk/jormugandr-devops
/default.nix                       @input-output-hk/jormugandr-devops
/flake.lock                        @input-output-hk/jormugandr-devops
/flake.nix                         @input-output-hk/jormugandr-devops
/shell.nix                         @input-output-hk/jormugandr-devops
