[package]
name = "jormungandr"
version = "0.9.1-nightly"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""
edition = "2018"

[dependencies]
arc-swap = "^0.4.7"
juniper = "0.14.2"
bincode = "1.2.1"
bytes = "0.5"
chain-addr = { path = "../chain-deps/chain-addr" }
chain-core      = { path = "../chain-deps/chain-core" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-network = { path = "../chain-deps/chain-network" }
chain-storage   = { path = "../chain-deps/chain-storage" }
chain-time      = { path = "../chain-deps/chain-time" }
cardano-legacy-address = { path = "../chain-deps/cardano-legacy-address" }
imhamt = { path = "../chain-deps/imhamt" }
error-chain = "0.12"
futures = "0.3.5"
hex = "0.4"
http = "0.2.1"
humantime = "2.0"
jormungandr-lib = { path = "../jormungandr-lib" }
lazy_static = "1.4"
linked-hash-map = "0.5"
pin-utils = "0.1.0"
poldercast = "0.13.3"
r2d2 = "0.8"
rand = "0.7"
rand_chacha = "0.2.2"
rustls = "0.17.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.55"
serde_yaml = "0.8"
slog = { version = "^2.5.1", features = [ "max_level_trace", "release_max_level_trace" ] }
slog-async = "2.5.0"
slog-gelf = { version = "0.1.2", optional = true }
slog-journald = { version = "2.1.1", optional = true }
slog-json = "2.3.0"
slog-term = "2.6.0"
structopt = "^0.3"
thiserror = "1.0.20"
tokio = { version = "0.2.21", features = ["rt-threaded", "time", "sync", "stream", "signal", "test-util", "blocking"] }
tonic = "0.2"
bech32 = "0.7"
async-trait = "0.1"
lru = "^0.5.2"
warp = { version = "0.2.3", features = ["tls"] }
pin-project = "0.4"
multiaddr = "0.3.1"

[dependencies.reqwest]
version = "0.10.6"
default-features = false
features = ["rustls-tls"]

[dev-dependencies]
rand_core = "0.5"
tokio = { version = "^0.2", features = ["full" ] }

[build-dependencies]
versionisator = "1.0.2"

[target.'cfg(unix)'.dependencies]
libc = "0.2.70"
nix = "0.17.0"
slog-syslog = "0.12.0"

[features]
default = ["codegen-rustfmt"]
with-bench = []
codegen-rustfmt = ["chain-network/codegen-rustfmt"]
integration-test = []
soak-test = []
systemd = ["slog-journald"]
gelf = ["slog-gelf"]
