[package]
name = "jormungandr"
version = "0.8.9"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""
edition = "2018"

[dependencies]
actix-cors = "0.2.0"
actix-rt = "^1.0.0"
actix-threadpool = "^0.3.1"
actix-web = { version = "2.0.0", default-features = false, features = [ "rustls" ] }
juniper = "0.13.1"
bincode = "1.0.1"
bytes = "0.4"
chain-core      = { path = "../chain-deps/chain-core" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-storage   = { path = "../chain-deps/chain-storage" }
chain-storage-sqlite-old = { path = "../chain-deps/chain-storage-sqlite-old" }
chain-time      = { path = "../chain-deps/chain-time" }
chain-addr = { path = "../chain-deps/chain-addr" }
cardano-legacy-address = { path = "../chain-deps/cardano-legacy-address" }
imhamt = { path = "../chain-deps/imhamt" }
error-chain = "0.12"
futures    = "0.1"
futures03 = { package = "futures", version = "0.3.1", features = ["compat"] }
http = "0.1.16"
humantime = "1.2"
hyper = "0.12"
jormungandr-lib = { path = "../jormungandr-lib" }
lazy_static = "1.3"
linked-hash-map = "0.5"
network-core    = { path = "../chain-deps/network-core" }
network-grpc    = { path = "../chain-deps/network-grpc" }
poldercast = "0.11.1"
rand = "0.7"
rustls = "^0.16.0 "
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.46"
serde_yaml = "0.8"
slog = { version = "^2.5.1", features = [ "max_level_trace", "release_max_level_trace" ] }
slog-async = "2.4.0"
slog-gelf = { version = "0.1.0", optional = true }
slog-journald = { version = "2.0.0", optional = true }
slog-json = "2.3.0"
slog-scope = "4.1"
slog-term = "2.4.0"
structopt = "^0.2"
thiserror = "1.0"
tokio      = "^0.1.16"
tokio-threadpool = "0.1"
bech32 = "0.7"

[build-dependencies]
versionisator = "1.0.2"

[target.'cfg(unix)'.dependencies]
libc = "0.2.54"
nix = "0.15.0"
slog-syslog = "0.12.0"

[features]
with-bench = []
integration-test = []
soak-test = []
systemd = ["slog-journald"]
gelf = ["slog-gelf"]
