[package]
name = "jormungandr"
version = "0.2.3"
authors = [ "Nicolas Di Prima <nicolas.diprima@iohk.io>"
          , "Vincent Hanquez <vincent.hanquez@iohk.io>"
          , "Eelco Dolstra <edolstra@gmail.com>"
          , "Mikhail Zabaluev <mikhail.zabaluev@gmail.com>"
          , "Alexander Vershilov <alexander.vershilov@gmail.com>"
          ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""

[dependencies]
dirs = "1.0"
rand = "0.6"
rand_chacha = "0.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.38"
serde_yaml = "0.8"
slog = "^2.4"
slog-async = "2.3.0"
slog-gelf = { version = "0.1.0", optional = true }
slog-journald = { version = "2.0.0", optional = true }
slog-json = "2.3.0"
slog-term = "2.4.0"
humantime = "1.2"
bincode = "1.0.1"
cbor_event = "2.1.2"
cryptoxide = "0.1"
futures    = "0.1"
http = "0.1.16"
hyper = "0.12"
mime = "^0.3.7"
tokio      = "^0.1.16"
structopt = "^0.2"
generic-array = "^0.9"
bytes = "0.4"
actix-net = "0.2.6"
native-tls = "0.2.2"
regex = "1.1.2"
bech32 = "0.6"
hex             = { path = "../hex" }
chain-core      = { path = "../chain-deps/chain-core" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-storage   = { path = "../chain-deps/chain-storage" }
chain-storage-sqlite = { path = "../chain-deps/chain-storage-sqlite" }
chain-addr      = { path = "../chain-deps/chain-addr" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-time      = { path = "../chain-deps/chain-time" }
network-core    = { path = "../chain-deps/network-core" }
network-grpc    = { path = "../chain-deps/network-grpc" }
poldercast = { version = "0.3.1", features = [ "serde_derive" ] }
reqwest = "0.9.11"
custom_error = "1.6"
num-traits = "0.2"
jormungandr-utils = { path = "../jormungandr-utils" }
jormungandr-lib = { path = "../jormungandr-lib" }
strfmt = "0.1"
gtmpl = "0.5.6"
mktemp = "0.4.0"

[dependencies.actix-web]
version = "0.7.18"
default-features = false
features = [ "tls" ]

[dependencies.clap]
version = "2.32"
default-features = false
features = [ "suggestions", "color", "wrap_help" ]

[target.'cfg(unix)'.dependencies]
# Crates.io version does not work on NetBsd due to dependency on outdated `nix` crate
# TODO switch to crates.io when fixed version is released
slog-syslog = { git = "https://github.com/slog-rs/syslog", rev = "336da50ed86058bfa87d9b497f5921fb7f95ea42" }

[dev-dependencies]
quickcheck = "0.8"
galvanic-test = "0.2.0"
assert_cmd = "0.11"
assert_fs = "0.11"
mktemp = "0.4.0"
lazy_static = "1.3"
custom_error = "1.6"

[features]
with-bench = []
integration-test = []
soak-test = []
systemd = ["slog-journald"]
gelf = ["slog-gelf"]
