[package]
name = "jormungandr"
version = "0.8.15"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""
edition = "2018"

[dependencies]
actix-cors = "0.2.0"
actix-rt = "^1.0.0"
actix-threadpool = "^0.3.1"
actix-web = { version = "2.0.0", default-features = false, features = [ "rustls" ] }
arc-swap = "0.4.4"
juniper = "0.14.2"
bincode = "1.0.1"
bytes = "0.4"
chain-addr = { path = "../chain-deps/chain-addr" }
chain-core      = { path = "../chain-deps/chain-core" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-network = { path = "../chain-deps/chain-network" }
chain-storage   = { path = "../chain-deps/chain-storage" }
chain-storage-sqlite-old = { path = "../chain-deps/chain-storage-sqlite-old" }
chain-time      = { path = "../chain-deps/chain-time" }
cardano-legacy-address = { path = "../chain-deps/cardano-legacy-address" }
imhamt = { path = "../chain-deps/imhamt" }
error-chain = "0.12"
futures    = "0.1"
futures03 = { package = "futures", version = "0.3.4", features = ["compat"] }
http = "0.1.16"
humantime = "2.0"
jormungandr-lib = { path = "../jormungandr-lib" }
lazy_static = "1.3"
linked-hash-map = "0.5"
pin-utils = "0.1.0-alpha.4"
poldercast = "0.11.4"
r2d2 = "0.8"
rand = "0.7"
rustls = "^0.16.0 "
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.48"
serde_yaml = "0.8"
slog = { version = "^2.5.1", features = [ "max_level_trace", "release_max_level_trace" ] }
slog-async = "2.4.0"
slog-gelf = { version = "0.1.0", optional = true }
slog-journald = { version = "2.0.0", optional = true }
slog-json = "2.3.0"
slog-scope = "4.1"
slog-term = "2.4.0"
structopt = "^0.3"
thiserror = "1.0"
tokio      = "^0.1.16"
tokio-compat = "^0.1.5"
tokio02 = { package = "tokio", version = "0.2.12", features = ["full"]}
tokio-threadpool = "0.1"
tonic = "0.1"
bech32 = "0.7"
async-trait = "0.1"
reqwest = "0.10"
lru = "^0.4.3"

[dev-dependencies]
chain-core           = { path = "../chain-deps/chain-core", features=["property-test-api"]}
chain-crypto         = { path = "../chain-deps/chain-crypto", features=["property-test-api"] }
chain-addr           = { path = "../chain-deps/chain-addr", features=["property-test-api"] }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain", features=["property-test-api"] }
rand_core = "0.5"

[build-dependencies]
versionisator = "1.0.2"

[target.'cfg(unix)'.dependencies]
libc = "0.2.67"
nix = "0.17.0"
slog-syslog = "0.12.0"

[features]
with-bench = []
integration-test = []
soak-test = []
systemd = ["slog-journald"]
gelf = ["slog-gelf"]
