[package]
name = "jormungandr"
version = "0.5.4"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""

[dependencies]
actix-net = "0.2.6"
actix-web = { version = "0.7.18", default-features = false, features = [ "tls" ] }
juniper = "0.13.1"
bincode = "1.0.1"
bytes = "0.4"
chain-core      = { path = "../chain-deps/chain-core" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-storage   = { path = "../chain-deps/chain-storage" }
chain-storage-sqlite = { path = "../chain-deps/chain-storage-sqlite" }
chain-time      = { path = "../chain-deps/chain-time" }
chain-addr = { path = "../chain-deps/chain-addr" }
imhamt = { path = "../chain-deps/imhamt" }
custom_error = "1.7"
error-chain = "0.12"
futures    = "0.1"
http = "0.1.16"
humantime = "1.2"
hyper = "0.12"
jormungandr-lib = { path = "../jormungandr-lib" }
lazy_static = "1.3"
native-tls = "0.2.2"
network-core    = { path = "../chain-deps/network-core" }
network-grpc    = { path = "../chain-deps/network-grpc" }
poldercast = { version = "0.7.1", features = [ "serde_derive" ] }
rand = "0.6"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.38"
serde_yaml = "0.8"
slog = { version = "^2.5.1", features = [ "max_level_trace", "release_max_level_trace" ] }
slog-async = "2.3.0"
slog-gelf = { version = "0.1.0", optional = true }
slog-journald = { version = "2.0.0", optional = true }
slog-json = "2.3.0"
slog-scope = "4.1"
slog-stdlog = "4.0"
slog-term = "2.4.0"
structopt = "^0.2"
tokio      = "^0.1.16"
actix-threadpool = "0.1.2"

[build-dependencies]
versionisator = "1.0"

[target.'cfg(unix)'.dependencies]
slog-syslog = "0.12.0"

[features]
with-bench = []
integration-test = []
soak-test = []
systemd = ["slog-journald"]
gelf = ["slog-gelf"]
