[package]
name = "jcli"
version = "0.8.18"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""
edition = "2018"

[dependencies]
rand = "0.7"
rand_chacha = "0.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.50"
serde_yaml = "0.8"
bincode = "1.0.1"
mime = "^0.3.7"
structopt = "^0.3"
bech32 = "0.7"
bytes = "0.4"
hex = "0.4.2"
chain-core      = { path = "../chain-deps/chain-core" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-addr      = { path = "../chain-deps/chain-addr" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-time    = { path = "../chain-deps/chain-time" }
jormungandr-lib = { path = "../jormungandr-lib" }
gtmpl = "0.5.6"
openapiv3 = "0.3.0"
valico = "3.2.0"
ed25519-bip32 = "0.3"
thiserror = "1.0"

[dependencies.clap]
version = "2.32"
default-features = false
features = [ "suggestions", "color", "wrap_help" ]

[target.'cfg(not(target_os = "android"))'.dependencies.reqwest]
version = "0.10.4"
default-features = false
features = ["blocking", "rustls-tls"]

# rustls-native-certs required by rustls-tls does not support Android, so build
# with OpenSSL.
# TODO rustls-tls should work on Android when https://github.com/seanmonstar/reqwest/pull/862
# is merged and released.
[target.'cfg(target_os = "android")'.dependencies.reqwest]
version = "0.10.4"
features = ["blocking"]

[dev-dependencies]
maplit = "1.0.2"
mktemp = "0.4.0"

[build-dependencies]
versionisator = "1.0.2"
