[package]
name = "jcli"
version = "0.9.0-rc3"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""
edition = "2018"

[dependencies]
rand = "0.7"
rand_chacha = "0.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.55"
serde_yaml = "0.8"
bincode = "1.0.1"
mime = "^0.3.7"
structopt = "^0.3"
bech32 = "0.7"
bytes = "0.4"
hex = "0.4.2"
chain-core      = { path = "../chain-deps/chain-core" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-addr      = { path = "../chain-deps/chain-addr" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-time    = { path = "../chain-deps/chain-time" }
jormungandr-lib = { path = "../jormungandr-lib" }
gtmpl = "0.5.6"
openapiv3 = "0.3.2"
valico = "3.4.0"
ed25519-bip32 = "0.3"
thiserror = "1.0"

[dependencies.clap]
version = "2.33"
default-features = false
features = [ "suggestions", "color", "wrap_help" ]

[dependencies.reqwest]
version = "0.10.6"
default-features = false
features = ["blocking", "rustls-tls"]

[dev-dependencies]
assert_fs = "1.0"
predicates = "1.0"
maplit = "1.0.2"

[build-dependencies]
versionisator = "1.0.2"
