[package]
name = "jcli"
version = "0.7.0-rc5"
authors = [ "dev@iohk.io" ]
license = "MIT OR Apache-2.0"
repository = "https://github.com/input-output-hk/jormungandr"
homepage = "https://github.com/input-output-hk/jormungandr#README.md"
documentation = "https://github.com/input-output-hk/jormungandr#USAGE.md"
description = """
Midgard Serpent
"""

[dependencies]
rand = "0.6"
rand_chacha = "0.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0.38"
serde_yaml = "0.8"
bincode = "1.0.1"
mime = "^0.3.7"
structopt = "^0.2"
bech32 = "0.6"
bytes = "0.4"
hex = "0.3.2"
chain-core      = { path = "../chain-deps/chain-core" }
chain-impl-mockchain = { path = "../chain-deps/chain-impl-mockchain" }
chain-addr      = { path = "../chain-deps/chain-addr" }
chain-crypto    = { path = "../chain-deps/chain-crypto" }
chain-time    = { path = "../chain-deps/chain-time" }
reqwest = "0.9.11"
custom_error = "1.7"
jormungandr-lib = { path = "../jormungandr-lib" }
strfmt = "0.1"
gtmpl = "0.5.6"
openapiv3 = "0.3.0"
valico = "3.1.0"

[dependencies.clap]
version = "2.32"
default-features = false
features = [ "suggestions", "color", "wrap_help" ]

[dev-dependencies]
maplit = "1.0.2"
mktemp = "0.4.0"

[build-dependencies]
versionisator = "1.0.2"
