[package]
name = "jormungandr-lib"
version = "0.13.0-dev"
authors = ["dev@iohk.io"]
edition = "2018"

description = "Data structures and formats used by Jormungandr node API and configuration files"

[dependencies]
bincode = "1.3"
serde = { version = "1.0", features = ["derive"] }
serde_with = { version = "1.9", features = ["macros"] }
chain-impl-mockchain = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
chain-addr      = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
chain-core      = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
chain-crypto    = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
chain-time           = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs"}
chain-vote = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
cardano-legacy-address = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
typed-bytes = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs" }
rand = "0.8"
rand_core = "0.6"
rand_chacha = "0.3"
chrono = { version = "0.4", features = ["serde"] }
humantime = "2.0"
thiserror = "1.0"
multiaddr = { package = "parity-multiaddr", version = "0.11", default-features = false }
hex = "0.4"
bech32 = "0.7"
base64 = "0.13.0"
http = "0.2.2"
eccoxide = { git = "https://github.com/eugene-babichenko/eccoxide.git", branch = "fast-u64-scalar-mul", features = ["fast-u64-scalar-mul"], optional = true }

[dev-dependencies]
quickcheck = "0.9"
quickcheck_macros = "0.9"
# FIXME required to work with quickcheck 0.9. Remove after migrating another crate or newer quickcheck
rand07 = { package = "rand", version = "0.7" }
chain-impl-mockchain = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs", features = [ "property-test-api" ] }
chain-addr      = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs", features = [ "property-test-api" ] }
chain-crypto    = { git = "https://github.com/Zeegomo/chain-libs.git", branch = "add-logs", features = [ "property-test-api" ] }
ed25519-bip32 = "0.4"
serde_yaml = "0.8"
serde_json = "1.0"
