name: CHANGELOG

on:
  pull_request:

jobs:
  diff_changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: git fetch origin master
      - run: |
          if [[ ! `git diff --exit-code origin/master -- CHANGELOG.md` ]]
          then
            echo "::warning file=CHANGELOG.md::CHANGELOG.md was not updated"
          fi
