on:
  schedule:
    - cron: '0 3 * * *' # run at 3 AM UTC

name: Nightly Release

jobs:
  nightly_release:
    name: Create nightly release
    if: ${{ github.repository_owner == 'input-output-hk' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Install hub
        uses: geertvdc/setup-hub@master

      - name: Get version
        id: version
        run: |
          export VERSION=`cat ./jormungandr/Cargo.toml | grep "version" | head -n 1 | awk '{print $3}' | cut -d "\"" -f 2 `
          echo ::set-output name=version::$VERSION

      - name: Delete nightly with hub
        continue-on-error: true
        env:
          GITHUB_USER: ${{ secrets.GITHUB_USER }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          hub release delete nightly

      - name: Create Nightly
        id: create_nightly
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: nightly
          release_name: ${{ steps.version.outputs.version }}
          draft: false
          prerelease: true

  release_assets:
    name: Release assets
    needs: nightly_release
    if: ${{ github.repository_owner == 'input-output-hk' }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          # Linux
          - {os: ubuntu-latest, target: x86_64-unknown-linux-gnu}
          # Macos
          - {os: macos-latest, target: x86_64-apple-darwin}
        target_cpu: [generic, broadwell]
        toolchain: [stable]
        cross: [false]
        include:
          # Windows
          - config: {os: windows-latest, target: x86_64-pc-windows-gnu}
            target_cpu: generic
            toolchain: stable-x86_64-pc-windows-gnu
            cross: false
          - config: {os: windows-latest, target: x86_64-pc-windows-gnu}
            target_cpu: broadwell
            toolchain: stable-x86_64-pc-windows-gnu
            cross: false
          - config: {os: windows-latest, target: x86_64-pc-windows-msvc}
            target_cpu: generic
            toolchain: stable-x86_64-pc-windows-msvc
            cross: false
          - config: {os: windows-latest, target: x86_64-pc-windows-msvc}
            target_cpu: broadwell
            toolchain: stable-x86_64-pc-windows-msvc
            cross: false
          # Cross targets
          - config: {os: ubuntu-latest, target: aarch64-unknown-linux-gnu}
            target_cpu: generic
            toolchain: stable
            cross: true
          - config: {os: ubuntu-latest, target: arm-unknown-linux-gnueabi}
            target_cpu: generic
            toolchain: stable
            cross: true
          - config: {os: ubuntu-latest, target: armv7-unknown-linux-gnueabihf}
            target_cpu: generic
            toolchain: stable
            cross: true
          - config: {os: ubuntu-latest,  target: x86_64-unknown-linux-musl}
            target_cpu: generic
            toolchain: stable
            cross: true
          - config: {os: ubuntu-latest,  target: x86_64-unknown-linux-musl}
            target_cpu: broadwell
            toolchain: stable
            cross: true
          - config: {os: ubuntu-latest, target: aarch64-linux-android}
            target_cpu: generic
            toolchain: stable
            cross: true
          # - config: {os: ubuntu-latest, target: mips64el-unknown-linux-gnuabi64}
          #   target_cpu: generic
          #   toolchain: stable
          #   cross: true
          # - config: {os: ubuntu-latest, target: powerpc64le-unknown-linux-gnu}
          #   target_cpu: generic
          #   toolchain: stable
          #   cross: true

    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.config.target }}
          override: true
          default: true

      - name: Downgrade cross
        uses: actions-rs/cargo@v1
        if: ${{ matrix.cross }}
        with:
          command: install
          args: --version 0.1.16 cross

      - name: Get current date
        run: |
          export DATE=`date +'%Y%m%d'`;
          echo ::set-env name=DATE::$DATE
        shell: bash

      - name: Checkout code
        uses: actions/checkout@v1
        with:
          submodules: true

      - name: Get version
        id: version
        run: |
          export VERSION=`cat ./jormungandr/Cargo.toml | grep "version" | head -n 1 | awk '{print $3}' | cut -d "\"" -f 2 `
          echo ::set-output name=version::$VERSION
        shell: bash

      - name: Build jormungandr
        uses: actions-rs/cargo@v1
        env:
          DATE: ${{ env.DATE }}
        with:
          use-cross: ${{ matrix.cross }}
          command: rustc
          args:  --manifest-path jormungandr/Cargo.toml --release --target ${{ matrix.config.target }} --bin jormungandr --no-default-features -- -C target-cpu=${{ matrix.target_cpu }} -C lto

      - name: Build jcli
        uses: actions-rs/cargo@v1
        env:
          DATE: ${{ env.DATE }}
        with:
          use-cross: ${{ matrix.cross }}
          command: rustc
          args: --manifest-path jcli/Cargo.toml --release --target ${{ matrix.config.target }} --bin jcli -- -C target-cpu=${{ matrix.target_cpu }} -C lto

      - name: Pack binaries if unix
        if: matrix.config.os != 'windows-latest'
        run: tar -C ./target/${{ matrix.config.target }}/release -czvf jormungandr-${{ steps.version.outputs.version }}.${{ env.DATE }}-${{ matrix.config.target }}-${{ matrix.target_cpu }}.tar.gz jormungandr jcli

      - name: Pack binaries if windows
        if: matrix.config.os == 'windows-latest'
        run: compress-archive ./target/${{ matrix.config.target }}/release/jormungandr.exe, ./target/${{ matrix.config.target }}/release/jcli.exe jormungandr-${{ steps.version.outputs.version }}.${{ env.DATE }}-${{ matrix.config.target }}-${{ matrix.target_cpu }}.zip

      - name: Upload binaries to nightly release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: jormungandr-${{ steps.version.outputs.version }}.${{ env.DATE }}-${{ matrix.config.target }}-${{ matrix.config.target_cpu }}.*
          asset_name: jormungandr-${{ steps.version.outputs.version }}.${{ env.DATE }}-${{ matrix.config.target }}-${{ matrix.config.target_cpu }}
          tag: nightly
          file_glob: true
          overwrite: true
